#
# Appveyor CI configuration.
#

environment:
    matrix:
        - PYTHON: "C:/Python27"

install:
    
    # Download Python package manager (`pip`):
    - ps: (new-object net.webclient).DownloadFile("http://raw.github.com/pypa/pip/master/contrib/get-pip.py", "C:/get-pip.py")
    - "%PYTHON%/python.exe C:/get-pip.py"

    # Install cxfreeze utility via pip:
    - "%PYTHON%/Scripts/pip.exe install cx_Freeze"

build_script:
    - ps: "mv python/txtrevise.py .."
    - "%PYTHON/python.exe %PYTHON%/Scripts/cxfreeze txtrevise.py --target-dir ."

test_script:
    - ps: "cp sample.txt rsample.txt"
    - "txtrevise.exe -h"
    # TODO

on_success:
    - ps: "rm txtrevise.exe"
